<template>
    <div class="cookie-info">
        <div class="photo"><img :src="photoPath" :alt="cookieTitle"/></div>
        <div class="title">{{ cookieTitle }}</div>
        <div class="price">{{cookiePrice}}원</div>
        <div class="arrival">{{ cookieArrival }}}</div>
    </div>
</template>

<script>
export default {
    props: {
        photoPath:{
            type: String,
            required: true
        },
        cookieTitle:{
            type: String,
            required: true
        },
        cookiePrice:{
            type: Number,
            required: true
        },
        cookieArrival:{
            type: String,
            required: true
        }
    }
}

</script>
