<template>
    <div class="cookie-total">
        <header class="cookie-header">
            <div><img class="cookie-ca" src="/images/copang/ca.png" alt="카테고리" />
                <img class="cp-logo" src="/images/copang/logo.png" alt="로고"/></div>
            <div class="search">
                <input type="text" placeholder="검색어 입력">
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </div>
        </header>
        <section>
            <div><img class="cookie-filter" src="/images/copang/filter.png" alt="필터"></div>
            <div class="cookie-info-wrap">
            <cookie-info
                v-for="(item, index) in cookies"
                v-bind:key="index"
                v-bind:cookie-arrival="item.cookieArrival"
                v-bind:cookie-price="item.cookiePrice"
                v-bind:cookie-title="item.cookieTitle"
                v-bind:photo-path="item.cookiePhoto"
            />
            <cookie-info
                v-for="(item, index) in cookies"
                v-bind:key="index"
                v-bind:cookie-arrival="item.cookieArrival"
                v-bind:cookie-price="item.cookiePrice"
                v-bind:cookie-title="item.cookieTitle"
                v-bind:photo-path="item.cookiePhoto"
            />
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data(){
        return{
            cookies:[
                {
                    cookiePhoto: '/images/copang/cookie_set.jpg',
                    cookieTitle: '[안녕골목마켓]사무실 과자 세트 10종 탕비실 간식',
                    cookiePrice: 25800,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/homerunball.jpg',
                    cookieTitle: '해태제과 홈런볼 초코, 41g, 4개,',
                    cookiePrice: 4320,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/mizz.jpg',
                    cookieTitle: '오리온 초코칩 45g x 6p + 미쯔 미니 42g x 6p',
                    cookiePrice: 6780,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/nuneddine.jpg',
                    cookieTitle: '삼립 누네띠네, 12g, 120개',
                    cookiePrice: 25800,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: 'images/copang/ace.png',
                    cookieTitle: '해태제과 에이스, 364g, 1개',
                    cookiePrice: 3580,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: 'images/copang/ace.png',
                    cookieTitle: '해태제과 에이스, 364g, 1개',
                    cookiePrice: 3580,
                    cookieArrival: '내일(수) 도착 보장'

                },                {
                    cookiePhoto: '/images/copang/cookie_set.jpg',
                    cookieTitle: '[안녕골목마켓]사무실 과자 세트 10종 탕비실 간식',
                    cookiePrice: 25800,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/homerunball.jpg',
                    cookieTitle: '해태제과 홈런볼 초코, 41g, 4개,',
                    cookiePrice: 4320,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/mizz.jpg',
                    cookieTitle: '오리온 초코칩 45g x 6p + 미쯔 미니 42g x 6p',
                    cookiePrice: 6780,
                    cookieArrival: '내일(수) 도착 보장'

                },
                {
                    cookiePhoto: '/images/copang/nuneddine.jpg',
                    cookieTitle: '삼립 누네띠네, 12g, 120개',
                    cookiePrice: 25800,
                    cookieArrival: '내일(수) 도착 보장'

                }

            ]
        }
    }
}
</script>
